<mat-toolbar color="primary">
    <span class="txt-logo">Fondo Amigos</span>
    <a mat-button [routerLink]="['accounts-statment']" routerLinkActive="item-selected">Cuentas de Socios</a>
    <a mat-button [routerLink]="['fund-information']" routerLinkActive="item-selected">Datos del Fondo</a>
    <a mat-button [routerLink]="['money-collection']" routerLinkActive="item-selected">Recaudo</a>
    <span class="toolbar-spacer"></span>
    <a mat-button href="#"><mat-icon>settings</mat-icon></a>
</mat-toolbar>

