<mat-expansion-panel class="expansion-panel">
  <mat-expansion-panel-header (click)="getPartnerInformation()">
      <mat-panel-title>
        <span class="partner-title">{{partner.id}} - {{partner.name | titlecase}}</span>
        <span class="partner-spacer"></span>
        <span class="total-result">Aportes del mes: <span>{{partner.collection | number:'':'en-US'}}</span></span>
      </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="participation-table" *ngIf="participations!=null">
    <h2>Acciones del socio</h2>
    <app-partner-participation [participations]="participations" (totalAmountEvent)="getTotalContributions($event)"></app-partner-participation>
  </div>
  <div class="loan-table" *ngIf="loans!=null">
    <br>
    <h2>Prestamos del socio</h2>
    <app-partner-loans [loans]="loans" (totalAmountEvent)="getTotalLoanQuotas($event)"></app-partner-loans>
  </div>
  <br>
</mat-expansion-panel>