<mat-accordion>
    <mat-expansion-panel *ngFor="let member of members; let i = index">
      <mat-expansion-panel-header *ngIf="isRetired(member, i)">
        <mat-panel-title>
          {{member.name}}
        </mat-panel-title>
        <mat-panel-description class="lb-members-description">
          <mat-label><b>Estado: </b><samp [ngClass]="classValidation(member)">{{member.state | memberState}}</samp></mat-label>  
          <mat-label><b>Ultima actualixación: </b>{{member.lastUpdate | date:'MMM-yyyy'}}</mat-label>
          <div class="btn-member-panel">
              <a (click)="editMember(member,i)"><mat-icon class="icon-members-panel">edit</mat-icon></a>
              <a (click)="deleteMember(member,i)"><mat-icon class="icon-members-panel">delete</mat-icon></a>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="content-panel" *ngIf="isRetired(member, i)">
        <app-member-panel [member]="member"></app-member-panel>
      </div>
    </mat-expansion-panel>
 </mat-accordion>