.lb-members-description{
    flex-basis: 0;
    justify-content: space-between;
    align-items: flex-start;
}

.icon-members-panel{
    margin-right: 20px;
}

.color-user-state-already{
    color: seagreen;
}

.color-user-state-pending{
    color: darkgoldenrod;
}

.color-user-state-arrear{
    color: darkred;
}

.color-user-state-retired{
    color: lightslategray;
}

